[Unit]
Description=Automatically generates an internet Hotspot when a valid ssid is not in range
After=multi-user.target
[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=file:/home/admin/ah.log
StandardError=file:/home/admin/aherr.log
ExecStart=/usr/bin/autohotspot
[Install]
WantedBy=multi-user.target
