<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>Fire Page</title>
    <script type="text/javascript">        
        function sendMotion (action) {
           request = new XMLHttpRequest();
           request.open("GET", action, true);
           request.send();
        }
        function range(n) {
            return "servo/"+n+"/"+document.getElementById("pulsewidth"+n).value;
        }
    </script>
</head>
<body>
    <h2>Fire page</h2>
    <input type="button" value="fire" id="fire" onclick="sendMotion('fire');"/>
    <input type="range" min="500" max="2500" id="pulsewidth2" step="100" oninput="sendMotion(range(2));"/> 
    <div class="video">
    <p>Video</p>
        <img class="play" src="{{ url_for('video_feed') }}">
    </div>
</body>
</html>
